body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.dashboard-container {
    display: flex;
}

/* Sidebar */
.sidebar {
    width: 250px;
    background-color: #333;
    color: white;
    padding: 20px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}


.sidebar h2 {
    font-size: 22px;
    margin-bottom: 30px;
    text-align: center;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 15px;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 8px;
    border-radius: 5px;
}

.sidebar ul li a:hover,
.sidebar ul li a.active {
    background-color: #555;
}

/* Main Content */

.main-content {
    margin-left: 300px; 
    padding: 30px;
}



.product-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center; /* center-aligns the products */
    padding: 20px;
}


.product-card {
    width: 220px;
    border: 1px solid #ddd;
    padding: 15px;
    text-align: center;
    background: #fff;
    border-radius: 6px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    margin-bottom: 20px;
}


.product-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.product-card h3 {
    margin: 10px 0;
}

.product-card button {
    background: #28a745;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 10px;
}

.product-card button:hover {
    background: #218838;
}

.btn-edit,
.btn-delete {
    margin: 6px 5px 0;
    display: inline-block;
    padding: 6px 10px;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-edit {
    background-color: #007bff;
    color: white;
}

.btn-edit:hover {
    background-color: #0069d9;
}

.btn-delete {
    background-color: #dc3545;
    color: white;
}

.btn-delete:hover {
    background-color: #c82333;
}


.review-box {
    background: #f9f9f9;
    border-left: 5px solid #28a745;
    padding: 10px;
    margin-bottom: 15px;
}
